@media screen and (max-width:500px) {
	h1 {
		font-size: 2rem;
	}

	.myintro {
		.images {
			height: 50vh;
		}

		& p {
			font-size: 1rem;
		}

		#i2 {
			top: 5rem;
		}

		#i3 {
			top: 8rem;
		}

	}

	.taglines {
		text-align: center;
	}

	.history {
		margin-top: 5rem;
	}

}
