@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #031d2e;
}

h1 {
	font-family: "Bungee Inline", sans-serif;
	font-size: 5rem;/*	color:red;*/
	animation: colorChange 20s linear infinite;
}

@keyframes colorChange {
	0% {
		color: #1584c7;
	}

	25% {
		color: #15c79f;
	}

	50% {
		color: #6e3dab;
	}

	75% {
		color: #15c79f;
	}

	100% {
		color: #1584c7;
	}

}

h3 {
	color: white;
	font-family: "Average", serif;
	display: inline-block;
}

h5 {
	color: white;
	font-family: "Average", serif;
}

hr {
	background: #ff7010;
	height: 0.3rem;
	width: 15%;
	margin: 0 auto 2rem auto;
	opacity: 1;
}

.navbar {
	background: #142b3b !important;
}

.navbar-brand {
	width: 5%;

	& img {
		width: 100%;
	}

}

.nav-link {
	color: white !important;
	font-family: "Average", serif;

	&:hover {
		color: #ff7010 !important;
	}

}

.navbar-toggler {
	all: unset !important;

	& svg {
		color: #ff7010;
		display: none;
	}

}

.navbar-collapse {
	transition: all 0.8s ease;
}

.myintro {
	& p {
		font-family: "Average", serif;
		color: white;
	}

	& img {
		position: absolute;
		border-radius: 1rem;
		outline: 0.5px solid #00ffcd;
		outline-offset: 0.2rem;
	}

	.images {
		height: 100vh;
		width: 100%;
	}

	#i1 {
		width: 100%;
		aspect-ratio: 1/0.5;
		transition: all 0.5s ease;

		&:hover {
			z-index: 1;
			transform: scale(1.1);
		}

	}

	#i2 {
		width: 90%;
		aspect-ratio: 1/0.5;
		top: 5rem;
		transition: all 0.5s ease;

		&:hover {
			z-index: 1;
			transform: scale(1.1);
		}

	}

	#i3 {
		width: 80%;
		aspect-ratio: 1/0.5;
		top: 10rem;
		transition: all 0.5s ease;

		&:hover {
			transform: scale(1.1);
		}

	}

}

.taglines {
	h3 {
		color: #ff7010;
		font-family: "Average", serif;
		border: none;
	}

	p {
		font-family: "Average", serif;
	}

	button {
		outline: 0.5px solid #ff7010;
		font-family: "Average", serif;
		color: white;

		&:hover {
			color: #ff7010;
			outline: 0.5px solid #ff7010;
		}

		&:focus {
			color: #ff7010;
			outline: 0.5px solid #ff7010;
		}

	}

}

.history {
	font-family: "Average", serif;

	p {
		text-align: justify;
		color: white;
	}

	#historyText {
		text-align: justify;
		color: white;
	}

}

#joy {
	width: 100%;
	aspect-ratio: 1/0.5;
	animation: hue 10s linear infinite;
}

@keyframes hue {
	0% {
		filter: hue-rotate(72deg);
	}

	25% {
		filter: hue-rotate(144deg);
	}

	50% {
		filter: hue-rotate(216deg);
	}

	75% {
		filter: hue-rotate(288deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}

}
