@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

.popular {
	.card {
		width: 100%;
		height:100%;
		background: #07273c;
	}

	.card-body {
		background: #07273c;
		color: white;
		height: 100%;
	}

	.card-text {
		& span a {
			text-decoration: none;
			color: #15c79f;
			&:hover{
				color:#ff7010;
			}
		}

	}

	font-family: "Average", serif;

	h3 {
		color: white;
		display: inline-block;
	}

	h5 {
		color: #ff7010;
	}

	img {
		width: 100%;
		aspect-ratio: 1/0.5;
	}

}
